*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.container{
  /* border: 2px solid red; */
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}
button{
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 10vw;
  cursor: pointer;
}
img{
  height: 100px;
  width: 100px;
}
h4{
  margin: 40px;
  color: red;
}